@theme {
    --color-primary: #46d9d9;
    /* --color-old-dark-primary: #5fc7cc; */
    --color-dark-primary: #0f766e;
    --color-secondary: #e86e8a;
    --color-accent: #d9e021;
    --color-accent-hc: #c4cc24;
    --color-accent-two: #4273ff;
    --color-accent-two-hc: #516eb5;
    --color-accent-three: #3f8588;
    --color-danger: #e86e8a;
    --color-light-bg: #d8e7eb;
    --sidebar-bg: #f9ffff;
    --color-sidebar-bg: #f9ffff;

    --background-image-gradient-radial: radial-gradient(var(--tw-gradient-stops));
    --background-image-gradient-conic: conic-gradient(from 180deg at 50% 50%,
            var(--tw-gradient-stops));

    --font-sans: "Avenir", "Nunito", sans-serif;
}